<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <title>About Us - MealMuse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="container-xxl px-md-5 bg-white shadow-lg">

        <main>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Add your image here with an appropriate src attribute -->
                        <img src="../public/img/about.jpg" alt="About Us Image" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <h1>About Us</h1>
                        <p>Welcome to MealMuse - your go-to source for delicious recipes and culinary inspiration. Our mission is to make cooking an enjoyable experience for everyone, from beginners to seasoned chefs. With a wide range of recipes and helpful tips, we're here to ignite your passion for food. Happy cooking!</p>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>
